body{
	margin: 0;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#menu{
	width: 60%;
	height: 4%; 
	display: flex;
	padding-top: 2%;
	position: fixed;
}
#information{
	display: flex;
	flex-direction: column;
	width: 50%;
	
}
.el_menu{
	height: 100%;
	width: 33%;
	background: #cad0d8;
	border: 3px solid black;
	font-family: 'Roboto', sans-serif;
	font-size: 140%;
	display: flex;
	justify-content: center;

}
.el_menu a{
	text-decoration: none;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: black;
}
.el_menu a:hover{
	background:white;
}

#background2{
	display: flex;
	width: 94%;
	padding-top: 8%;
	flex-direction: row;
}

.Corhom{
	border: 3px solid black;
	width: 94%;
}


.row_corhom{
	display: flex;
	flex-direction: row;
	gap: 1%;
	width: 100%;
}
.text_corhom{
	font-size: 200%;
	width: 60%;
}

.countries{
	background: #8A9EBD;
	display: flex;
	flex-direction: column;
	width: 40%;
	border: 1px solid black;
	gap: 12%;
}

.flag img{
	width: 100%;
	
}

.title{
	font-size: 150%;
}

.subtitle{
	font-size: 100%;
}

.flag{
	display: flex;
	flex-direction: row;
	width: 80%;
}

.flag h1{
	color: white;
	font-size: 300%;
}

#images{
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 12%;

}
#images img{
	width: 100%;
	
}