@media (max-width: 768px){
	.Corhom{
		width: 205%;
	}
	.countries{
		width: 38%;
		gap: 10%;
	}
	.flag{
		width: 74%;
	}
	.row_corhom{
		width: 68%;
		font-size: 75%;
	}
	#images{
		width: 30%;
		margin-top: 36%;
		gap: 45%;
		margin-left: 20%;
	}
	#menu{
		width: 96%;
	}
}
@media (max-width: 416px){
	.row_corhom{
		flex-direction: column;
		width: 100%;
		font-size: 80%;
	}
	#information{
		width: 100%;
	}
	#images{
		display: none;
	}
	#menu{
		width: 48%;
		top: 0;
		right: 26%;
	}
	.el_menu{
		font-size: 100%;
	}	
	.countries{
		width: 100%;
	}
	.text_corhom{
		width: 100%;
	}
}
@media (min-width: 2560px){
	.el_menu{
		font-size: 300%;
	}
	.title{
		font-size: 250%;
	}
	.text_corhom{
		font-size: 400%;
	}
	.subtitle{
		font-size: 200%;
	}
	.flag h1{
		font-size: 546%;
	}
}